<h1><%= @user.name %></h1>
<p><%= @user.chat_id%></p>
<p><%= @user.birthday %></p>
<p><%= @user.subscribed %></p>
<p><%= @user.created_at %></p>
<p><%= @user.updated_at %></p>
<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Destroy", user_path, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
